/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

body {
    background: #EEEEEE;
    background: -webkit-linear-gradient(left, #EEEEEE, #6882BB);
    background: -moz-linear-gradient(left, #EEEEEE, #6882BB);
    background: linear-gradient(to right, #EEEEEE, #6882BB);
}